@media (max-width: 1320px) {
  .header .container {
    padding: 0 50px;
  }

  .header__top-inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 26px 0;
  }

  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 0px 0px 32px 32px;
    min-width: 420px;
    height: 100vh;
    z-index: 1000;
    padding: 50px;
    padding-top: 170px;
    -webkit-box-shadow: 0 0 5px var(--gray--lightest);
    box-shadow: 0 0 5px var(--gray--lightest);
    background-color: var(--color-white);
    overflow-y: auto;
    visibility: hidden;
    -webkit-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    transform: translateX(-120%);
    -webkit-transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 53px;
  }

  .header__nav-link {
    font-size: 24px;
    line-height: 29px;
  }

  .header__nav--active {
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .header__logo {
    margin: 0 auto;
    padding-right: 0;
    width: 158px;
    height: 48px;
  }

  .burger {
    position: relative;
    z-index: 2000;
    display: block;
    width: 30px;
    height: 23px;
    color: var(--color-black);
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 0;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .burger__line:nth-child(3) {
    bottom: 0;
  }

  .burger--active .burger__line:nth-child(1) {
    left: 0;
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:nth-child(3) {
    bottom: auto;
    left: 0;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about__descr {
    margin-bottom: 55px;
    width: 100%;
  }

  .about__article {
    padding-top: 48%;
    width: 100%;
  }

  .about__items {
    width: 100%;
  }

  .about__item {
    padding: 65px 117px;
    padding-left: 315px;
    min-height: 100%;
  }

  .about__article-content {
    padding: 50px;
  }

  .about__article-descr {
    width: 59%;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }

  .header {
    margin-bottom: 12px;
  }

  .hero__inner {
    padding: 160px 77px;
  }

  .hero__title {
    margin-bottom: 16px;
    width: 100%;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    margin-bottom: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }

  .section-offset {
    margin-bottom: 55px;
  }

  .tabs__pane {
    width: 48%;
  }

  .tabs__nav {
    margin-bottom: 52px;
  }

  .tabs__btn:not(:last-child) {
    margin-right: 81px;
  }

  .tabs__pane-text {
    margin-bottom: 24px;
  }

  .tabs__pane::after {
    width: 47%;
  }

  .faq {
    margin-bottom: 79px;
  }

  .faq__header-text {
    width: 80%;
    font-size: 20px;
  }

  .footer__text {
    display: none;
  }

  .footer__item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 59%;
  }

  .footer__item:first-child {
    width: 35%;
    margin-right: 60px;
  }

  .footer__input,
  .footer__textarea {
    max-width: 541px;
  }

  .footer__form-btn {
    padding: 19px 36px;
  }
}

@media (max-width: 820px) {
  .header__top-inner {
    padding: 10px 0;
  }

  .header__nav {
    border-radius: 0px 0px 24px 24px;
  }

  .hero__inner {
    padding: 160px 40px;
  }

  .hero__title {
    width: 100%;
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
  }

  .about__descr {
    margin-bottom: 51px;
  }

  .about__article {
    min-height: 100%;
  }

  .about__article-content {
    padding: 34px 40px;
  }

  .about__article-descr {
    width: 62%;
  }

  .about__item {
    padding: 35px 46px;
    padding-left: 168px;
  }

  .about__item::before {
    left: 6%;
    width: 114px;
    height: 99px;
  }

  .work {
    margin-bottom: 22px;
  }

  .tabs__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .tabs__pane {
    width: 100%;
    padding-top: 320px;
  }

  .tabs__pane::after {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 284px;
  }

  .tabs__pane-inner {
    min-height: 100%;
  }

  .tabs__pane-btns {
    margin-top: 0;
  }

  .faq {
    margin-bottom: 110px;
  }

  .faq__header-text {
    width: 86%;
  }

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .footer__nav {
    display: none;
  }

  .footer__item {
    width: 81%;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 50px;
  }

  .footer__logo {
    margin-bottom: 16px;
  }
}


@media (max-width: 628px) {
  .header__formsearch {
    right: -15px;
    max-width: 568px;
    border-radius: 0px 0px 24px 24px;
  }
}

@media (max-width: 576px) {

  .container {
    padding: 0 15px;
  }

  .header .container {
    padding: 0 15px;
  }

  .header {
    margin-bottom: 35px;
  }

  .header__top {
    border-radius: 0px 0px 24px 24px;
  }

  .header__top-inner {
    margin-bottom: 30px;
    padding: 17px 0;
  }

  .header__logo {
    width: 110px;
    height: 35px;
  }

  .header__nav {
    padding: 78px 15px 15px;
    width: 100vh;
    border-radius: 0px 0px 16px 16px;
  }

  .header__nav-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .header__nav-link {
    font-size: 16px;
    line-height: 20px;
  }

  .header__formsearch {
    padding: 20px 15px;
    right: -15px;
    max-width: 320px;
    border-radius: 0px 0px 24px 24px;
  }

  .header__formsearch-field::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  .header__formsearch-field::-moz-placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  .header__formsearch-field:-ms-input-placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  .header__formsearch-field::-ms-input-placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  .header__formsearch-field::placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  .hero__pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-horizontal>.hero__pagination,
  .hero__pagination.swiper-pagination-horizontal {
    bottom: 12px;
    left: 0;
  }

  .hero__inner {
    padding: 60px 21px;
    border-radius: 16px;
  }

  .hero__title {
    margin-bottom: 6px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__descr {
    margin-bottom: 33px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
  }

  .hero__btn {
    display: block;
    margin: 0 auto;
    padding: 13px 28px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
  }

  .about__descr {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .about__article {
    padding-top: 72%;
    border-radius: 16px;
    background-position: 0 0;
    background-size: 290px 200px;
  }

  .about__article-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    background-color: transparent;
  }

  .about__article-descr {
    margin-bottom: 12px;
    padding: 0;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: var(--color-black);
  }

  .about__article-btn {
    padding: 11px 42px;
    border-width: 2px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-main);
  }

  .about__article-btn:focus-visible,
  .about__article-btn:hover:not(:focus-visible) {
    color: var(--color-white);
  }

  .about__item {
    padding: 0;
    padding-top: 61px;
    border: none;
  }

  .about__item-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
  }

  .about__item-descr {
    font-size: 14px;
    line-height: 28px;
  }

  .about__item::before {
    top: -8px;
    left: 0;
    width: 64px;
    height: 57px;
    background-size: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .section-offset {
    margin-bottom: 35px;
  }

  .work__title {
    margin-bottom: 24px;
  }

  .tabs__nav {
    margin-bottom: 16px;
  }

  .tabs__btn {
    font-size: 14px;
    line-height: 17px;
  }

  .tabs__btn:not(:last-child) {
    margin-right: 40px;
  }

  .tabs__pane-title {
    font-size: 18px;
    line-height: 32px;
  }

  .tabs__pane-text {
    font-size: 14px;
    line-height: 28px;
  }

  .tabs__pane {
    padding-top: 174px;
  }

  .tabs__pane::after {
    height: 160px;
    border-radius: 16px;
  }

  .tabs__pane-btn {
    padding: 12px 44px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .btn--gray {
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .tabs__pane-btn:not(:last-child) {
    margin-right: 10px;
  }

  .faq {
    margin-bottom: 60px;
  }

  .faq__title {
    padding-bottom: 15px;
  }

  .faq__header-text {
    font-size: 14px;
    line-height: 24px;
  }

  .faq__header-btn {
    width: 30px;
    height: 30px;
  }

  .footer {
    padding-top: 33px;
    padding-bottom: 30px;
  }

  .footer__title {
    margin-bottom: 20px;
  }

  .footer__item {
    width: 100%;
  }

  .footer__item:first-child {
    width: 100%;
    padding-top: 16px;
    border-top: 1px solid var(--gray);
  }

  .footer__item:last-child {
    width: 100%;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .footer__input,
  .footer__textarea {
    padding: 14px 20px;
    font-size: 14px;
  }

  .footer__textarea {
    margin-bottom: 25px;
  }

  .footer__form-btn {
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    width: 131px;
    height: 42px;
  }

  .social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .social__item:not(:last-child) {
    margin-right: 16px;
  }

  .social__link svg {
    width: 40px;
    height: 40px;
  }
}
